In [ ]:
import sqlite3
import numpy as np

In [ ]:
conn = sqlite3.connect('vendas.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()

In [ ]:
print('Criando tabelas .......')


# criando a tabela - D_TEMPO
cursor.execute("""
CREATE TABLE d_Tempo (
        ID_TEMPO INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        DT_REF DATE NOT NULL,
        NU_SEMANA INTEGER,
        NU_MES INTEGER,
        NU_TRIMESTRE INTEGER,
        NU_SEMESTRE INTEGER,
        NU_ANO INTEGER
        );"""
              )

print('Tabela criada com sucesso.')
cursor.execute("""
CREATE TABLE d_Loja (
        ID_LOJA INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        DS_NOME TEXT NOT NULL,
        DS_UF,
        DS_CIDADE,
        DS_EMPRESA,
        NU_CEP
        );"""
              )

print('Tabela criada com sucesso.')

cursor.execute(""" 
CREATE TABLE d_Pessoa (
ID_PESSOA INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
NM_PESSOA TEXT NOT NULL );"""
              )

print('Tabela criada com sucesso.')


cursor.execute(""" 
CREATE TABLE f_Vendas (
    ID_VENDA INT AUTO_INCREMENT PRIMARY KEY,
    VL_VENDA DOUBLE,
    NU_VENDA INT,
    VL_LUCRO DOUBLE,
    VL_CUSTO DOUBLE,
    ID_TEMPO,
    ID_PESSOA,
    ID_LOJA,
    FOREIGN KEY (ID_TEMPO) REFERENCES D_TEMPO (ID_TEMPO)
    FOREIGN KEY (ID_PESSOA) REFERENCES d_Pessoa(ID_PESSOA),
    FOREIGN KEY (ID_LOJA) REFERENCES d_Loja(ID_LOJA)
    )"""
    )

Criando tabelas .......
Tabela criada com sucesso.
Tabela criada com sucesso.
Tabela criada com sucesso.

In [ ]:
# Povoa a base de dados

In [ ]:
# Povoando a base de dados
conn = sqlite3.connect('vendas.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()

# lista de ids e nomes:
list_names = [(1, 'Allan'),(2, 'Rafael'), (3, 'Tony'), (4, 'Célia'), (5, 'Raí'), (6, 'Humberto'), (7, 'Joao'),
              (8, 'Marcos'), (9, 'Euler'), (10, 'Tiago'), (11, 'José 1'), (12, 'JJ'), (13, 'Alberto')]

conn.executemany(""" INSERT INTO d_Pessoa ('ID_PESSOA','NM_PESSOA') VALUES 
             (?,?);""", list_names)

In [ ]:
### Lendo registro para conferencia


#cursor.execute(""" select * from d_Pessoa""")
#for linha in cursor.fetchall():
#    print(linha)

In [ ]:


# lista de lojas
list_lojas = [(1, 'Loja Croatá', 'CE', 'Croatá','nome empresa', 60645555),
              (2, 'loja Anapolis 1', 'CE', 'Anapolis','nome empresa', 60845000),
              (3, 'loja Acairé', 'CE', 'Acairé','nome empresa', 60645500), 
              (4, 'loja Anapolis 2', 'CE', 'Anapolis','nome empresa', 60645500),
              (5, 'loja Burití', 'PI', 'Burití','nome empresa', 64645500), 
              (6, 'loja Acailandi', 'CE', 'Acailandia','nome empresa', 63645550),
              (7, 'loja Acairé', 'CE', 'Croatá','nome empresa', 62645551),
              (8, 'loja Acairé', 'RN', 'Croatá','nome empresa', 61645556),
              (9, 'loja Acairé', 'MA', 'Anapurus','nome empresa', 65645557),
              (10, 'loja Parnaiba 1', 'PI', 'Parnaiba','nome empresa', 64645585), 
              (11, 'loja Acairé', 'PA', 'Seriema','nome empresa', 63645505),
              (12, 'loja Quixeramobim', 'CE', 'Quixeramobim','nome empresa', 61645555),
              (13, 'loja Acairé 1', 'CE', 'Acairé','nome empresa', 62645555)]
conn.executemany(""" INSERT INTO d_Loja ('ID_LOJA','DS_NOME', 'DS_UF', 'DS_CIDADE', 'DS_EMPRESA', 'NU_CEP') VALUES 
             (?,?,?,?,?,?);""", list_lojas)

In [ ]:
# lendo dados de lojas
#cursor.execute(""" select * from d_Loja""")
#for linha in cursor.fetchall():
#    print(linha)

In [ ]:
# povoando a tabela d_tempo
# lista de tempo
# formato da data YYYY/MM/DD
list_tempo = [(1, '2020/01/10', 1, 1, 1,1, 2020),
              (2, '2020/01/10', 1, 1, 1,1, 2020),
              (3, '2020/03/10', 2, 3, 1,1, 2020),
              (4, '2020/01/5', 1, 1, 1,1, 2020),
              (5, '2020/03/15', 4, 3, 1,1, 2020),
              (6, '2020/01/16', 3, 1, 1,1, 2020),
              (7, '2020/01/25', 1, 1, 1,1, 2020),
              (8, '2020/01/19', 1, 1, 1,1, 2020),
              (9, '2020/02/10', 1, 2, 1,1, 2020),
              (10, '2020/10/10', 1, 10,4,2, 2020),
              (11, '2020/03/11', 1, 3, 1,1, 2020),
              (12, '2020/03/29', 1, 3, 1,1, 2020),
              (13, '2020/03/30', 1, 3, 1,1, 2020),
              (14, '2020/01/23', 4, 1, 1,1, 2020),
              (15, '2020/04/30', 3, 4, 1,1, 2020)]
conn.executemany(""" INSERT INTO d_Tempo (
                          'ID_TEMPO','DT_REF','NU_SEMANA','NU_MES',
                        'NU_TRIMESTRE', 'NU_SEMESTRE', 'NU_ANO')
                     VALUES  (?,?,?,?,?,?,?);""", list_tempo)

In [ ]:
list_venda = []
for i in range(1,31):
    vl_venda = np.random.uniform(0,10000)
    nu_venda = i
    vl_lucro = vl_venda - vl_venda*np.random.rand() # estipula um valor em percentual do valor total da venda
    vl_custo = vl_venda - vl_lucro   # será sempre o valor da venda retirado o lucro(por questao de simplicidade)
    id_loja = list_lojas[np.random.randint(1,13)][0]
    id_tempo = list_tempo[np.random.randint(1,15)][0]
    id_pessoa = list_names[np.random.randint(1,13)][0]
    
    list_venda.append((i, vl_venda,nu_venda, vl_lucro, vl_custo, id_loja, id_tempo, id_pessoa))
    
    
    
    conn.executemany(""" INSERT INTO f_Vendas (
                          'ID_VENDA','VL_VENDA','NU_VENDA','VL_LUCRO',
                          'VL_CUSTO', 'ID_LOJA', 'ID_TEMPO', 'ID_PESSOA')
                     VALUES  (?,?,?,?,?,?,?,?);""", list_venda)
    list_venda = []

In [ ]:
# lendo dados de lojas

cursor.execute(""" select * from f_vendas""")
for linha in cursor.fetchall():
    print(linha)

(1, 7719.170349379147, 1, 4373.25851981907, 3345.9118295600774, 15, 8, 7)
(2, 8768.880649271712, 2, 6161.5454191225745, 2607.3352301491377, 8, 5, 12)
(3, 157.45334089427243, 3, 19.791506789685968, 137.66183410458646, 14, 7, 11)
(4, 7608.434710990852, 4, 5872.360781056278, 1736.0739299345742, 6, 11, 6)
(5, 3736.8136482521854, 5, 3223.0933020682996, 513.7203461838858, 2, 13, 10)
(6, 5820.370040887305, 6, 1307.5489589566023, 4512.821081930702, 15, 4, 3)
(7, 9728.896823653346, 7, 8693.323889554395, 1035.572934098951, 9, 7, 7)
(8, 6438.178874614255, 8, 4850.460454931714, 1587.718419682541, 15, 12, 13)
(9, 7677.7285053161, 9, 3736.0950109679206, 3941.6334943481797, 11, 3, 10)
(10, 1593.6016846603518, 10, 725.5532534258964, 868.0484312344554, 12, 6, 5)
(11, 1123.6429134111593, 11, 651.0325154667009, 472.6103979444583, 2, 11, 11)
(12, 802.2417705290396, 12, 588.1190711411678, 214.12269938787188, 4, 12, 2)
(13, 4855.826256965022, 13, 3016.024424267496, 1839.8018326975262, 6, 6, 3)
(14, 8304.193066560483, 14, 4914.344806661067, 3389.848259899416, 11, 8, 5)
(15, 3103.0886509017564, 15, 2245.929423401256, 857.1592275005005, 9, 11, 6)
(16, 3345.7032790259823, 16, 285.9319146624548, 3059.7713643635275, 9, 12, 5)
(17, 4523.211490083077, 17, 1855.1596152722173, 2668.0518748108593, 6, 6, 12)
(18, 6405.0123922323, 18, 3042.7636058185435, 3362.2487864137565, 9, 6, 4)
(19, 6387.4924352175585, 19, 812.1345331164084, 5575.35790210115, 10, 7, 12)
(20, 4299.30759126907, 20, 2296.2753572442243, 2003.0322340248458, 6, 12, 2)
(21, 9337.902486253915, 21, 1129.6701868523432, 8208.232299401572, 8, 7, 8)
(22, 4883.625751583699, 22, 2774.3856290446624, 2109.2401225390363, 8, 3, 7)
(23, 3234.8520163945673, 23, 2775.6788821262107, 459.17313426835653, 15, 6, 8)
(24, 6570.276214677405, 24, 6135.143690720272, 435.13252395713243, 6, 3, 12)
(25, 1872.684256023911, 25, 233.39950631474335, 1639.2847497091677, 11, 2, 2)
(26, 4381.472532523379, 26, 509.70014237822033, 3871.772390145159, 8, 9, 9)
(27, 3118.349693071245, 27, 2013.7154564206555, 1104.6342366505894, 7, 9, 13)
(28, 4856.514183034365, 28, 2256.5800598913693, 2599.9341231429953, 10, 5, 4)
(29, 4082.284465118827, 29, 2555.0039593898027, 1527.2805057290243, 11, 3, 6)
(30, 737.8905292752713, 30, 48.2716258678488, 689.6189034074225, 15, 13, 11)


# Resolução da questao 3

#### 3.1 - Todas as compras realizadas no mês de janeiro de 2020 em lojas do estado do Ceará (CE)
#### ID da pessoa
#### Nome da pessoa
#### Data Referência da Venda
#### Valor da Venda

In [ ]:
# 3.1

##OBS:  d_tempo.NU_MES = 1 quer dizer mês de janeiro, 2, fevereiro e assim sucessivamente

cursor.execute(""" SELECT f_vendas.ID_PESSOA, NM_PESSOA, DT_REF, VL_VENDA  FROM f_vendas JOIN d_tempo JOIN d_loja JOIN d_pessoa 
                            WHERE f_vendas.ID_TEMPO = d_tempo.ID_TEMPO 
                            AND f_vendas.id_loja = d_loja.ID_LOJA AND  f_vendas.ID_PESSOA = d_pessoa.ID_PESSOA
                            AND d_tempo.NU_MES = 1 
                            AND d_loja.DS_UF = 'CE' """)

print("ID_pessoa, Nome, Data da venda, valor da venda")
for linha in cursor.fetchall():
    print(linha)

ID_pessoa, Nome, Data da venda, valor da venda
(5, 'Raí', '2020/01/19', 8768.880649271712)
(11, 'José 1', '2020/01/16', 7608.434710990852)
(12, 'JJ', '2020/01/5', 802.2417705290396)
(6, 'Humberto', '2020/01/16', 4855.826256965022)
(6, 'Humberto', '2020/01/16', 4523.211490083077)
(12, 'JJ', '2020/01/16', 4299.30759126907)
(3, 'Tony', '2020/01/19', 4883.625751583699)
(3, 'Tony', '2020/01/16', 6570.276214677405)
(9, 'Euler', '2020/01/25', 3118.349693071245)

In [ ]:
#### 3.2 - Quantidade de compras por cliente no mês de março(3) de 2020
#### ID da pessoa
#### Quantidade de compras
cursor.execute(""" SELECT f_vendas.ID_PESSOA, COUNT ( f_vendas.ID_PESSOA ) AS "CONTAGEM DE COMPRAS POR CLIENTE"   FROM f_vendas JOIN d_pessoa JOIN d_tempo
                            WHERE f_vendas.ID_TEMPO = d_tempo.ID_TEMPO 
                            AND f_vendas.ID_PESSOA = d_pessoa.ID_PESSOA
                            AND d_tempo.NU_MES != 3 
                            AND d_tempo.NU_ANO = 2020 
                            GROUP BY f_vendas.ID_PESSOA""")

print("ID_PESSOA, CONTAGEM DE COMPRAS")
for linha in cursor.fetchall():
    print(linha)

ID_PESSOA, CONTAGEM DE COMPRAS
(3, 2)
(4, 1)
(5, 2)
(6, 4)
(7, 4)
(8, 1)
(9, 2)
(11, 3)
(12, 4)
(13, 2)

### 3.4 – Todos os clientes que não fizeram compras no mês de março de 2020

In [ ]:

"""   
      O select mais interno seleciona os nomes dos compradores do mes de março (d_tempo.NU_MES = 3 ),
      que estejam na tabela f_vendas.
      O select externo selecionaos demais clientes que não fizeram compra em março, 
      mas que FIZERAM ALGUMA compra em outra data.
"""
cursor.execute(""" SELECT D_PESSOA.NM_PESSOA FROM D_PESSOA join f_vendas WHERE  f_vendas.ID_PESSOA = d_pessoa.ID_PESSOA
                    AND D_PESSOA.NM_PESSOA    NOT IN 
                     ( SELECT d_pessoa.NM_PESSOA  FROM f_vendas JOIN d_pessoa JOIN d_tempo
                                WHERE f_vendas.ID_TEMPO = d_tempo.ID_TEMPO 
                                AND f_vendas.ID_PESSOA = d_pessoa.ID_PESSOA
                                AND d_tempo.NU_MES = 3 
                                AND d_tempo.NU_ANO = 2020
                                GROUP BY d_pessoa.NM_pessoa)
                     GROUP BY d_pessoa.NM_pessoa

                            """)
                    
print("Pessoas que compraram em outros meses, mas NÃO compraram em março de 2020")
for linha in cursor.fetchall():
    print(linha)

Pessoas que compraram em outros meses, mas NÃO compraram em março de 2020
('Alberto',)
('Célia',)
('Euler',)
('JJ',)
('Joao',)
('José 1',)
('Raí',)

### 3.5 – Data da última compra por cliente

In [ ]:
cursor.execute(""" SELECT d_pessoa.NM_PESSOA, MAX(d_tempo.DT_REF)   FROM f_vendas JOIN d_pessoa JOIN d_tempo
                       WHERE f_vendas.ID_TEMPO = d_tempo.ID_TEMPO 
                       AND f_vendas.ID_PESSOA = d_pessoa.ID_PESSOA
                       group by d_pessoa.ID_PESSOA
               """)
                    
print("Pessoas que compraram em outros meses, mas NÃO compraram em março de 2020")
for linha in cursor.fetchall():
    print(linha)

Pessoas que compraram em outros meses, mas NÃO compraram em março de 2020
('Rafael', '2020/03/11')
('Tony', '2020/03/11')
('Célia', '2020/04/30')
('Raí', '2020/10/10')
('Humberto', '2020/04/30')
('Joao', '2020/10/10')
('Marcos', '2020/04/30')
('Euler', '2020/01/25')
('José 1', '2020/02/10')
('JJ', '2020/04/30')
('Alberto', '2020/04/30')